In [3]:
# import yfinance as fy
import pandas_datareader.data as web
from datetime import datetime

from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Ejemplo google finance 
ticker = 'AAPL'
source = 'stooq'
start = '2015-01-01'
end = datetime.today()
aapl_goo = web.DataReader(ticker, source)
aapl_goo


# tikerSymbol='GOOG'
# tikerData=yf.Tiker(tickerSymbol)
# print(tickerData.info)
# data=tikerData.history(period=)

               Open     High      Low    Close     Volume
Date
2021-02-03  135.760  135.770  133.610  133.940   86225471
2021-02-02  135.730  136.310  134.610  134.990   83305367
2021-02-01  133.750  135.380  130.930  134.140  106239823
2021-01-29  135.830  136.740  130.210  131.960  177523812
2021-01-28  139.520  141.990  136.700  137.090  142621128
...             ...      ...      ...      ...        ...
2016-02-11   21.840   22.058   21.562   21.820  197340206
2016-02-10   22.337   22.437   21.914   21.953  176714572
2016-02-09   21.957   22.342   21.874   22.121  180225158
2016-02-08   21.688   22.287   21.667   22.126  226380753
2016-02-05   22.477   22.570   21.818   21.894  185333207

[1258 rows x 5 columns]

In [7]:
!conda install quandl

^C

In [8]:
import quandl
######################### USar la api key que les arroja la página de quandl
quandl.ApiConfig.api_key = "My9ygJsz7yTDx_9jcneH"

ticker = ['AAPL', 'MSFT', 'KO']
date = {'gte': '2016-01-01', 'lte': datetime.today() }
column = {'columns': ['ticker', 'date', 'Adj_close']}

data = quandl.get_table('WIKI/PRICES', qopts = column, ticker = ticker, date = date)# ticker = 'WIKI/AAPL' #'AAPL.US'

# Poner los índices como las fechas
data = data.set_index('date')
data

# Seleccionar los ADJ_CLOSE de ticker y renombrar las columnas
data_n = [data.loc[data['ticker'] == ti, 'adj_close'] for ti in ticker]
data_n = pd.concat(data_n, axis=1)
data_n.columns = ticker
data_n
#### data.loc[data['ticker']=='AAPL','adj_close']

ModuleNotFoundError: No module named 'quandl'